<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kyle Macquarrie: {{ title }}</title>
    <link href="/assets/style.css" rel="stylesheet">
  </head>
  <body>
    <nav>
        <ul>
          {%for item in nav%}
            <li class={{"active" if item.href == page.url}}>
              <a href={{item.href}}>{{item.title}}</a>
            </li>
          {%endfor%}
        </ul>
      </nav>
    <main>
      <h1>{{title}}</h1>
      <section class="content">
        {{ content | safe }}
      </section>
    </main>
  </body>
</html>
