@font-face {
  font-display: swap;
  font-family: 'linux_biolinum';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/linbiolinum_rah.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'linux_libertineregular';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/linlibertine_rah.woff2') format('woff2');
}

/* @link https://utopia.fyi/type/calculator?c=320,21,1.2,1140,24,1.125,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
  --step--2: clamp(0.91rem, calc(0.80rem + 0.53vw), 1.19rem);
  --step--1: clamp(1.09rem, calc(1.00rem + 0.47vw), 1.33rem);
  --step-0: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.50rem);
  --step-1: clamp(1.58rem, calc(1.53rem + 0.22vw), 1.69rem);
  --step-2: clamp(1.89rem, calc(1.89rem + 0.02vw), 1.90rem);
  --step-3: clamp(2.14rem, calc(2.32rem + -0.26vw), 2.27rem);
  --step-4: clamp(2.40rem, calc(2.85rem + -0.62vw), 2.72rem);
  --step-5: clamp(2.70rem, calc(3.49rem + -1.10vw), 3.27rem);

  --light-grey: rgb(239, 239, 239);
  --dark-grey: rgb(79, 79, 79);
  --orange: rgb(217, 148, 22);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'linux_biolinum', sans-serif;
  font-size: var(--step-0);
  background-color: var(--light-grey);
  color: var(--dark-grey);
}

* + * {
  margin-top: 0.5rem;
}

a {
  color: var(--dark-grey);
  transition: 200ms all;
}

a:hover, a:focus {
  color: var(--orange);
}

a:focus-visible {
  outline-color: red;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'linux_libertineregular', serif;
  line-height: 1.05;
}

h1 {
  font-size: var(--step-5);
  text-align: center;
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2);
}

main {
  margin: auto;
}

nav {
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0 1em;
}

nav a {
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

nav .active a {
  border-color: var(--orange);
}

.content {
  max-width: 70ch;
  margin-left: auto;
  margin-right: auto;
}

svg {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

text {
  opacity: 0.5;
  transition: 200ms opacity;
  cursor: default;
}

text:hover {
  opacity: 1;
}
